<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Cattlelog</a>
    <a class="btn btn-primary" href="/signin">Sign In</a>
  </div>
</nav>

<% if @user.errors.any? %>
    <div id="error">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div> 
  <% end %>


<%= render 'form', user: @user %>

