<h1>Welcome to CattleLog </h1>
New to the app?
<%= link_to(controller: 'users', action: 'new') { 'sign up' } %>
<br></br>
Already a user?
<%= link_to(controller: 'sessions', action: 'new') { 'sign in' } %>