<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Cattlelog</a>
    <a class="btn btn-primary" href="/signin">Sign In</a>
  </div>
</nav>

<section class="call-to-action text-white text-center" style="background-image: url('https://i.ibb.co/d0YkNvJ/background2.png');">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
      <img class="img-responsive"<a href="https://ibb.co/MnKzJwC"><img src="https://i.ibb.co/MnKzJwC/cow-background-300.png" alt="cow-background-300" border="0"></a>
        <h2 class="mb-4">The only app for real farmers.</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-3 mb-md-0">
              <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
            </div>
            <div class="col-12 col-md-3">
            <a class="btn btn btn-block btn-lg btn-primary" href="/users/new">Join!</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center" >
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex" style="background-image: url('https://i.ibb.co/F0BtBbX/pin.png');">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <h3>Mapping</h3>
          <p class="lead mb-0">Use Cattlelog to organize your fields and assign maps</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex"style="background-image: url('https://i.ibb.co/ZTvSRDs/cow-icon.png');">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h3>Cow Tracking</h3>
          <p class="lead mb-0">Assign cattle to fields and track locations</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex" style="background-image: url('https://i.ibb.co/pzH4CWX/cloud-icon.png');">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>Upload Expenses</h3>
          <p class="lead mb-0">Keep the farm finances organized</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://media.wired.com/photos/595fe96cb07d437d51477a47/master/w_2560%2Cc_limit/AerialField-TA-967246-002.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Map Fields</h2>
        <p class="lead mb-0">When you use Cattelog to map your farm, you can build your land by adding field profiles and assign different cows to each.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://i.ibb.co/FJ4t1rn/pexels-photo-1276237.png');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Catalog Cows</h2>
        <p class="lead mb-0">Newly improved, and full of great utility, track your cows with specific profile features and assignment options to fields on your farm.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://i.ibb.co/khPGPM4/Screen-Shot-2020-01-13-at-11-13-51-PM.png');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Responsible Ecomonics</h2>
        <p class="lead mb-0">Easy to use and customize to your farm and expenses, monitor and account for your farm's fiscal responsibility with forms including all tax features for input.</p>
      </div>
    </div>
  </div>
</section>




